.aboutmecont {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0px;
  position: absolute;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #7591be;
}

.all {
  min-width: fit-content;
  max-width: 100%;
  height: 100%;
  border: 1px solid black;
  margin: 0;
  padding: 0;
}
