.Pgalery {
  text-align: center;
  width: auto;
  height: fit-content;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #6080b4;
  color: white;
  /* border: 1px solid black; */
}
.projectPicDiv {
  border-radius: 25px;
  /* border: 1px solid black; */
  margin: auto;
}
.projectPicImg {
  border-radius: 50px;
  /* border: 1px solid black; */
}
.ProjectShowArea {
  background-color: #ffffff00;
  /* border: 1px solid black; */
}

.midshow {
  /* border: 1px solid black; */
  text-align: center;
}

.leftarrimage,
.rightarrimage {
  background-color: rgba(255, 255, 255, 0.37);
  border-radius: 360px;
  transition: 0.9s;
}

.leftarrimage:hover,
.rightarrimage:hover {
  background-color: rgba(255, 255, 255, 0.884);
  border-radius: 150px;
  cursor: pointer;
  transition: 0.9s;
}

.tbdivleft {
  margin-left: 40%;
}

.tbdivright {
  margin-left: -40%;
}

.projectDesc {
  display: inline;
}

.projectlink01 {
  text-decoration: none;
  color: white;
}
