.home {
  /* height: 100%;
  height: fit-content; */
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0px;
  position: absolute;
  background-color: chartreuse;

  min-height: 100vh;
  display: flex;
  /* flex-grow: 1; */
  flex-direction: column;
}
