.top {
  margin-top: 0;
  margin-bottom: 0;
  /* background-color: #24344d; */
  color: white;
  width: 100%;
  height: fit-content;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

/* .top .brand,
.top .image,
.top .image .collapseButton {
  display: inline-flex;
} */
.brand {
  padding-left: 15px;
}
.links {
  padding-left: 5px;
  text-align: center;
}
.linksSmall {
  padding-left: 25%;
  text-align: left;
}

.image {
  /* margin-left: 85%;
  padding-top: 0px;
  padding-bottom: 50px; */
  padding-left: 5px;
  width: 25px;
  height: 25px;
}
.collapseButton {
  width: 25px;
  height: 25px;
}

table {
  width: 100%;
  text-align: left;
  background-color: #24344d;
  border-collapse: collapse;
  border-spacing: 0;
}

/* tr td {
  border: 1px solid blue;
} */
tr,
td {
  text-align: left;
}

.navlink{
  text-decoration: none;
  color: white;
}